.App {
  text-align: center;
  background-color:#140031;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #140031;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Universal Styles */

html {
  font-size: 18px;
  background-color:#140031;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
    background-color:#140031;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #000;
  border: 1.5px solid   #2BA8FF;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  padding: .66rem 0;
  margin:0;
  text-align: center;
  background-color: #02000B;
  font-family: 'Yellowtail', sans-serif;
  letter-spacing: 1.5px;
  font-size: 3rem;
  color: #2BA8FF;
}

.back-button{
  background-color: #02000B;
  width: 100%;
  padding-top: 15px;
}
 .button {
    color: white;
    text-decoration: none;
    font-family: 'Yellowtail', sans-serif;
    font-size: 1.5rem;
    width: 30px;
  
  }