.Business {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 16.66rem;
    margin: 0 .5rem 2.3rem .5rem;
    color: #2BA8FF;
  }
  
  .Business .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  
  .Business h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .Business-information {
    display: flex;
    justify-content: space-around;
  }
  
  .Business-information p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
  }
  
  .Business-address {
   
  }
  
  .Business-reviews {
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  
  .Business-reviews h3 {
    color:  #f06cda;
    font-weight: 600;
  }
  
  .Business-reviews .rating {
    font-size: .88rem;
    line-height: 1rem;
  }